openapi: 3.0.3
info:
  title: Kasagadi API
  version: "1.4.1"
  description: |
    The JSON API behind Kasagadi. It serves two different audiences, with two
    different credentials.

    ## Partner API

    Read-only access to Kasagadi's **published, fact-checked claims** from an
    external application. Every request carries a partner API key:

    ```
    Authorization: Bearer kg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    ```

    Keys are issued by the Kasagadi team, are secret, and can be revoked at any
    time. Treat a key like a password: use it **server-to-server** and never
    embed it in a browser or a mobile app.

    ## Mobile API

    The endpoints the Kasagadi mobile app uses to register, sign in and act on
    behalf of a person. These authenticate with a **user access token** obtained
    from `POST /auth/login`, not with a partner key. The app ships no API key.

    ```
    Authorization: Bearer <access_token>
    ```

    Access tokens last 30 minutes. Exchange the refresh token at
    `POST /auth/refresh` for a fresh pair; spending a refresh token rotates it,
    so the previous pair stops working immediately. Suspending an account
    destroys its sessions, which invalidates both tokens at once.

    Only **members** and **fact-checkers** may sign in here. Administrators are
    refused and directed to the web portal.

    ## Which credential does an endpoint take?

    Each operation below states its own. In short:

    - `/claims`, `/claims/{id}`, `/claims/{id}/related` and `/marketplace/facets`
      accept **either** a partner key or a user access token, because a published
      claim is the same public payload either way.
    - `/me`, `/me/notifications`, `/chat`, `/taxonomies` and `/auth/logout`
      require a **user access token** and accept both mobile roles.
    - `/me/dashboard` and everything under `/me/claims` require a **member**
      token. A fact-checker's token is valid and still refused with `403`.
    - Everything under `/fact_checker` requires a **fact-checker** token. A
      member's token is valid and still refused with `403`.
    - `/config` and the rest of `/auth/*` take **no credential**, since they run
      before the app has one.

    An account that somehow holds both roles is treated as a fact-checker, the
    same way `/me` routes it, so the member tier refuses it.

    ## Conventions

    - Only **published** claims are ever returned. Drafts and in-progress claims
      are never exposed.
    - All timestamps are ISO-8601 (UTC).
    - Responses are JSON with a `data` payload; list endpoints also include `meta`.
    - Errors are `{ "error": { "status", "message" } }`, plus a `details` object
      of field errors on a `422`.
    - Requests are rate-limited; exceeding a limit returns `429`.
  contact:
    name: Kasagadi
    url: https://docs.kasagadi.ai

servers:
  - url: https://kasagadi.ai/api/v1
    description: Production

tags:
  - name: Claims
    description: Published, fact-checked claims
  - name: Reference
    description: The vocabularies and filter counts the app builds its pickers from
  - name: Authentication
    description: Register, sign in, refresh and password recovery (mobile app)
  - name: Account
    description: The signed-in user, and app configuration
  - name: Notifications
    description: The signed-in user's notification feed. Either mobile role.
  - name: Chat
    description: The AI assistant, and the caller's thread with it. Either mobile role.
  - name: Member
    description: A member's own claims, drafts and evidence. Member token only.
  - name: Fact checker
    description: A fact-checker's queue and verdicts. Fact-checker token only.

paths:
  /claims:
    get:
      tags: [Claims]
      summary: List published claims
      description: |
        Returns a paginated list of published claims, newest first. Use `since`
        for incremental syncing (only claims published on/after that timestamp).
      operationId: listClaims
      security:
        - partnerApiKey: []
        - mobileAccessToken: []
      parameters:
        - name: topic
          in: query
          description: Filter by topic (e.g. `Health`, `Politics`, `Entertainment`).
          schema: { type: string }
        - name: region
          in: query
          description: Filter by region (e.g. `Greater Accra`, `Ashanti`).
          schema: { type: string }
        - name: verdict
          in: query
          description: Filter by the fact-checker's verdict.
          schema:
            type: string
            enum: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
        - name: q
          in: query
          description: Full-text search across the claim title and content.
          schema: { type: string }
        - name: since
          in: query
          description: Return only claims published on/after this ISO-8601 timestamp.
          schema: { type: string, format: date-time }
          example: "2026-01-01T00:00:00Z"
        - name: page
          in: query
          description: Page number (1-based).
          schema: { type: integer, minimum: 1, default: 1 }
        - name: per_page
          in: query
          description: Items per page. Capped at 100.
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        "200":
          description: A page of claims.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Claim" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
              example:
                data:
                  - id: 259
                    title: "New WHO study on malaria vaccine"
                    content: "Posts claim a 'new WHO study' finds the malaria vaccine causes infertility…"
                    source: "Twitter/X"
                    topics: ["Health"]
                    regions: ["Western"]
                    language: "en"
                    cover_image_url: "https://kasagadi.ai/rails/active_storage/blobs/redirect/…/cover.jpg"
                    published_at: "2026-04-01T10:00:00Z"
                    updated_at: "2026-04-02T09:00:00Z"
                    url: "https://kasagadi.ai/marketplace/259"
                    verdict:
                      verdict: "verdict_false"
                      summary: "There is no such WHO study; the cited PDF is fabricated."
                      research: "Checked the WHO publications database and contacted their press office…"
                      reference_link: "https://who.int/…"
                      checked_at: "2026-04-01T10:00:00Z"
                      fact_checker:
                        name: "Kwame Mensah"
                        organization: "Ghana Fact-Check Foundation"
                meta: { page: 1, per_page: 25, total_pages: 3, total_count: 61 }
        "400":
          description: Invalid parameter (e.g. a malformed `since` timestamp).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /claims/{id}:
    get:
      tags: [Claims]
      summary: Get a single published claim
      operationId: getClaim
      security:
        - partnerApiKey: []
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          description: The claim's numeric id.
          schema: { type: integer }
      responses:
        "200":
          description: The claim.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Claim" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "404":
          description: No published claim with that id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /claims/{id}/related:
    get:
      tags: [Claims]
      summary: Read-next claims for a claim detail screen
      description: |
        Up to **three** other published claims sharing this claim's primary
        topic, with the claim itself excluded. Same topic rather than a looser
        match, because `topic` is the value every filter and badge already keys
        on, so a reader can see why the rail holds what it holds.

        A fixed handful, so the body is `data` alone with no `meta`: there is
        nothing to page through. The list can be empty when no other published
        claim carries the topic.

        Public like the claim it sits beside: everything it can return is
        already published, so a caller who can fetch the claim can fetch what
        sits next to it.
      operationId: listRelatedClaims
      security:
        - partnerApiKey: []
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          description: The claim's numeric id.
          schema: { type: integer }
      responses:
        "200":
          description: Up to three related claims, possibly none.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    maxItems: 3
                    items: { $ref: "#/components/schemas/Claim" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "404":
          description: No published claim with that id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /marketplace/facets:
    get:
      tags: [Reference]
      summary: Filter counts for the marketplace
      description: |
        How many **published** claims carry each topic, each region and each
        verdict. The counts come from the same scope the filters themselves run
        against, so a facet can never promise results that clicking it fails to
        produce.

        Each facet is an object keyed by the value you would filter on, so the
        app looks a count up rather than scanning a list. A value with no
        published claims is **absent rather than zero**: read a missing key as
        none.

        Public like the claims it counts, so a partner backend building the same
        filter UI reads it on the key it already uses for `/claims`.
      operationId: getMarketplaceFacets
      security:
        - partnerApiKey: []
        - mobileAccessToken: []
      responses:
        "200":
          description: The counts.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MarketplaceFacets" }
              example:
                data:
                  topics: { Health: 12, Politics: 31, Elections: 4 }
                  regions: { "Greater Accra": 22, Ashanti: 9 }
                  verdicts: { verdict_false: 26, misleading: 11, partly_true: 3 }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /config:
    get:
      tags: [Account]
      summary: App configuration
      description: |
        The limits and vocabularies the app caches on launch, read before anyone
        signs in. Every value is read from the model that enforces it, so an
        upload limit cannot be raised on the server and stay stale in the app.
      operationId: getConfig
      security: []
      responses:
        "200":
          description: The configuration.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Config" }

  /taxonomies:
    get:
      tags: [Reference]
      summary: Topics, regions and verdicts, with their labels
      description: |
        The vocabularies the app's pickers and filters are built from. Every
        entry carries the `value` to send back on a filter or a claim and the
        `label` to show a person, so one picker component renders all three
        lists. Topics add the Material Symbols icon name the web already uses,
        so the two products look like one product.

        Both mobile roles need this: a member tags a claim with it, a
        fact-checker browses the marketplace by it. It therefore takes any
        mobile access token, not a role-specific one.

        `/config` already carries the raw `verdicts` and `claim_statuses`
        values. This is the same vocabulary with human labels attached; read
        labels from here rather than capitalising the raw values in the app.
      operationId: listTaxonomies
      security:
        - mobileAccessToken: []
      responses:
        "200":
          description: The vocabularies.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Taxonomies" }
              example:
                data:
                  topics:
                    - { value: "Health", label: "Health", icon: "medical_services" }
                    - { value: "Politics", label: "Politics", icon: "gavel" }
                  regions:
                    - { value: "Greater Accra", label: "Greater Accra" }
                    - { value: "Ashanti", label: "Ashanti" }
                  verdicts:
                    - { value: "verdict_true", label: "True" }
                    - { value: "verdict_false", label: "False" }
                    - { value: "misleading", label: "Misleading" }
                    - { value: "partly_true", label: "Partly True" }
                    - { value: "unverifiable", label: "Unverifiable" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /me:
    get:
      tags: [Account]
      summary: The signed-in user
      description: |
        Role routing. Tells the app which portal to open and what to render in
        it. `role` is `member` or `fact_checker`, and `profile` carries the
        fields for that role.

        `abilities` is a routing hint, not authorization: the server enforces
        every rule regardless of what the client believes it may do.
      operationId: getMe
      security:
        - mobileAccessToken: []
      responses:
        "200":
          description: The signed-in user.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/User" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/dashboard:
    get:
      tags: [Member]
      summary: The member home screen
      description: |
        The six counts across the top and the claim list under them, from the
        same object the web dashboard reads, so a member cannot open the app and
        the website and be told two different things about their own claims.

        `counts.review` repeats `counts.in_progress` on purpose: the web
        dashboard has always offered both names for the same tab.

        Claims an admin has **unpublished** are absent from every count and
        every list. Hiding a claim from the marketplace is not something the
        member is shown, on either platform.

        `data.filter` echoes the filter actually applied. An unrecognised value
        falls back to `all` rather than being refused, so read it back rather
        than assuming what you sent was used.
      operationId: getMemberDashboard
      security:
        - mobileAccessToken: []
      parameters:
        - name: filter
          in: query
          description: |
            Which tab. `all` is the default and **excludes drafts**: that is the
            web's meaning of the word, and drafts have their own tab.
          schema:
            type: string
            enum: [all, drafts, pending, in_progress, verified]
            default: all
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: per_page
          in: query
          description: Items per page. Capped at 100.
          schema: { type: integer, minimum: 1, maximum: 100, default: 10 }
      responses:
        "200":
          description: The dashboard.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/MemberDashboard" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
              example:
                data:
                  filter: "all"
                  counts: { all: 7, drafts: 2, pending: 1, in_progress: 3, review: 3, verified: 3 }
                  claims:
                    - id: 88
                      title: "Free bus fares for students in September"
                      content: "A WhatsApp broadcast says the Ministry has approved free bus fares…"
                      source: "WhatsApp"
                      source_links: ["https://example.com/post/1"]
                      topics: ["Education"]
                      regions: ["Greater Accra"]
                      status: "in_progress"
                      cover_image_url: "https://kasagadi.ai/rails/active_storage/blobs/redirect/…/photo.jpg"
                      created_at: "2026-08-01T09:12:00Z"
                      updated_at: "2026-08-03T14:40:00Z"
                      verdict: null
                meta: { page: 1, per_page: 10, total_pages: 1, total_count: 7 }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/claims:
    get:
      tags: [Member]
      summary: List the member's own claims
      description: |
        The same list the dashboard shows, without the counts, taking the same
        filter names from the same object so the app's "My claims" tabs and the
        web dashboard's tabs cannot come to mean different things.

        `all`, the default, **excludes drafts**. Ask for `drafts` to get them.

        Entries here omit `evidences`: a list would pay for it in queries and no
        list screen shows it. Fetch a single claim for that.
      operationId: listMemberClaims
      security:
        - mobileAccessToken: []
      parameters:
        - name: filter
          in: query
          schema:
            type: string
            enum: [all, drafts, pending, in_progress, verified]
            default: all
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: per_page
          in: query
          description: Items per page. Capped at 100.
          schema: { type: integer, minimum: 1, maximum: 100, default: 15 }
      responses:
        "200":
          description: A page of the member's claims.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MemberClaim" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/PageMeta"
                      - type: object
                        properties:
                          filter:
                            type: string
                            description: The filter actually applied, after fallback.
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      tags: [Member]
      summary: Start a draft claim
      description: |
        Creates a **draft**. Nothing reaches the fact-checking queue until
        `POST /me/claims/{id}/submit`, which is where the strict rules live, so
        a half-written claim can be saved from a phone on a bad connection
        without being refused.

        Only `source_links` are validated at this stage: each entry must be a
        valid `http` or `https` link.

        Cover images are not accepted here. A claim's cover is promoted from the
        first image among its evidence, so it follows from the evidence
        endpoints rather than being set on its own.

        The response is the full claim, `evidences` included (empty at this
        point), so the app never has to follow a write with a read.
      operationId: createMemberClaim
      security:
        - mobileAccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claim]
              properties:
                claim: { $ref: "#/components/schemas/MemberClaimInput" }
            example:
              claim:
                title: "Free bus fares for students in September"
                content: "A WhatsApp broadcast says the Ministry has approved free bus fares…"
                source: "WhatsApp"
                topics: ["Education"]
                regions: ["Greater Accra"]
                source_links: ["https://example.com/post/1"]
      responses:
        "201":
          description: The draft.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MemberClaimDetail" }
        "400":
          description: |
            Malformed JSON, or no `claim` key in the body. A missing envelope is
            a malformed request, not a validation failure about its contents.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                malformedJson:
                  value: { error: { status: 400, message: "Malformed JSON in request body" } }
                missingEnvelope:
                  value: { error: { status: 400, message: "Missing parameter: claim" } }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "422":
          description: The draft was rejected.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example:
                error:
                  status: 422
                  message: "Validation failed"
                  details: { source_links: ["must be valid http(s) links"] }
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/claims/{id}:
    parameters:
      - name: id
        in: path
        required: true
        description: The claim's numeric id.
        schema: { type: integer }
    get:
      tags: [Member]
      summary: Get one of the member's own claims
      description: |
        The claim in whatever state it is in, drafts included, with the evidence
        attached to it and the verdict once a checker has written one. The
        verdict appears from the moment it is submitted, before an admin has
        published it, which is when the web dashboard starts showing the member
        their badge too.

        Nothing outside the caller's own claims is reachable. Another member's
        claim, and one an admin has unpublished, are both simply **absent** and
        answer `404`. Deliberately not `403`: a claim the caller may not read
        should not be confirmed to exist by the status code.
      operationId: getMemberClaim
      security:
        - mobileAccessToken: []
      responses:
        "200":
          description: The claim.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MemberClaimDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "404":
          $ref: "#/components/responses/ClaimNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

    patch:
      tags: [Member]
      summary: Edit a draft
      description: |
        Drafts only. A submitted claim is out of the member's hands, and the API
        refuses rather than silently ignoring the edit, which would tell the app
        it had worked.

        Only the keys you send are written.
      operationId: updateMemberClaim
      security:
        - mobileAccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [claim]
              properties:
                claim: { $ref: "#/components/schemas/MemberClaimInput" }
      responses:
        "200":
          description: The updated draft.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MemberClaimDetail" }
        "400":
          $ref: "#/components/responses/MalformedJson"
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "404":
          $ref: "#/components/responses/ClaimNotFound"
        "422":
          description: |
            The claim is no longer a draft, or the fields were rejected.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                notADraft:
                  value: { error: { status: 422, message: "This claim has already been submitted." } }
                invalid:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details: { source_links: ["must be valid http(s) links"] }
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      tags: [Member]
      summary: Discard a draft
      description: |
        Drafts only, and permanent. The claim's evidence rows go with it and
        Active Storage purges their uploads, so nothing is left orphaned.

        Once a claim has been submitted it can no longer be discarded: it is in
        the platform's queue, and somebody may already be working on it.
      operationId: deleteMemberClaim
      security:
        - mobileAccessToken: []
      responses:
        "204":
          description: Discarded. No body.
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "404":
          $ref: "#/components/responses/ClaimNotFound"
        "422":
          $ref: "#/components/responses/ClaimAlreadySubmitted"
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/claims/{id}/submit:
    post:
      tags: [Member]
      summary: Submit a draft for fact-checking
      description: |
        Promotes the draft to `pending_assignment` and puts it on the admin
        desk. This is the point the relaxed draft rules stop applying: `title`,
        `content`, `source`, at least one topic and at least one region must all
        be present, and **at least one piece of evidence with a file actually
        attached** must exist. Only once that passes does the state change, so a
        claim can never reach the queue half-finished.

        Attach evidence first, with `POST /me/claims/{id}/evidences`.

        Submitting also queues the AI analysis, tells the member their claim
        landed, and tells the admin desk there is something waiting to be
        assigned. Send it once; there is no separate confirmation step.

        No request body.
      operationId: submitMemberClaim
      security:
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Submitted. `status` is now `pending_assignment`.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MemberClaimDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "404":
          $ref: "#/components/responses/ClaimNotFound"
        "422":
          description: |
            Already submitted, or the claim is not complete enough to submit.
            Note that the missing-evidence message arrives under `base` rather
            than under a field, because it is about the claim as a whole.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                alreadySubmitted:
                  value: { error: { status: 422, message: "This claim has already been submitted." } }
                noEvidence:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details:
                        base: ["Please attach at least one piece of evidence with a supporting file."]
                incomplete:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details:
                        title: ["can't be blank"]
                        topic: ["can't be blank"]
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/claims/{claim_id}/evidences:
    post:
      tags: [Member]
      summary: Attach evidence to a draft
      description: |
        One `multipart/form-data` request carrying the files themselves. There
        is no signed-upload handshake and no separate commit step: send the
        bytes, get the claim back.

        ```
        curl -X POST https://kasagadi.ai/api/v1/me/claims/42/evidences \
          -H "Authorization: Bearer $ACCESS_TOKEN" \
          -F "evidence[files][]=@screenshot.png" \
          -F "evidence[files][]=@receipt.pdf" \
          -F "evidence[description]=Screenshot of the post"
        ```

        Evidence is **added** to what is already there rather than replacing it:
        a member photographs one thing at a time, and a phone that loses signal
        halfway through a set must not wipe what already uploaded.

        Every file is judged on what the server identifies it as from the bytes,
        not on the content type the request declared, so a payload renamed to
        `.png` is refused even though the request called it an image. The
        allowed types and the 10MB ceiling are the `uploads.evidence` block of
        `/config`; drive the picker from there rather than hard-coding them.

        Drafts only. The response is the whole claim, so the app can redraw its
        evidence list without a second request.
      operationId: createEvidence
      security:
        - mobileAccessToken: []
      parameters:
        - name: claim_id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: ["evidence[files][]"]
              properties:
                "evidence[files][]":
                  type: array
                  minItems: 1
                  description: |
                    The files themselves, repeated once per file. At least one
                    is required. A file field submitted with nothing chosen
                    arrives as an empty string and does not count.
                  items: { type: string, format: binary }
                "evidence[description]":
                  type: string
                  description: Optional note about what these files show.
            encoding:
              "evidence[files][]":
                style: form
                explode: true
      responses:
        "201":
          description: The claim, with the new evidence in `evidences`.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MemberClaimDetail" }
        "400":
          description: No `evidence` part in the body at all.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 400, message: "Missing parameter: evidence" } }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "404":
          $ref: "#/components/responses/ClaimNotFound"
        "422":
          description: |
            No files, an unsupported format, a file over 10MB, or a claim that
            is no longer a draft. A file that is both unsupported and too large
            says both.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                noFiles:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details: { files: ["Attach at least one file."] }
                unsupportedFormat:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details:
                        files: ['"notes.exe" is not a supported format. Attach JPG, PNG, WebP, GIF, PDF, DOC, DOCX, MP3, M4A, WAV or OGG']
                tooLarge:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details:
                        files: ['"clip.wav" is larger than 10MB']
                notADraft:
                  value: { error: { status: 422, message: "This claim has already been submitted." } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/claims/{claim_id}/evidences/{id}:
    delete:
      tags: [Member]
      summary: Remove one evidence row from a draft
      description: |
        Removes the row and purges its uploads. Answers with the whole claim
        rather than `204`, so the app gets back the evidence list it should now
        be showing.

        The claim's cover image is deliberately left alone. It is a copy taken
        when the cover was promoted, not a reference to this evidence, and the
        web behaves the same way: removing the evidence a cover came from does
        not blank the cover.

        Drafts only.
      operationId: deleteEvidence
      security:
        - mobileAccessToken: []
      parameters:
        - name: claim_id
          in: path
          required: true
          schema: { type: integer }
        - name: id
          in: path
          required: true
          description: The evidence row's id, from the claim's `evidences[].id`.
          schema: { type: integer }
      responses:
        "200":
          description: The claim, without that evidence.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/MemberClaimDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/MembersOnly"
        "404":
          description: No such claim for this member, or no such evidence on it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 404, message: "Not found" } }
        "422":
          $ref: "#/components/responses/ClaimAlreadySubmitted"
        "429":
          $ref: "#/components/responses/RateLimited"

  /chat:
    get:
      tags: [Chat]
      summary: The caller's own conversation with the assistant
      description: |
        The stored thread, newest first, so page one is the end of the
        conversation and scrolling up asks for page two. Reverse each page to
        render it.

        Reading does not create a conversation. A caller who has never chatted
        gets an empty list rather than a row written by the act of looking.

        Each person's thread is their own, and both mobile roles have one.
      operationId: showChat
      security:
        - mobileAccessToken: []
      parameters:
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: per_page
          in: query
          description: Items per page. Capped at 100.
          schema: { type: integer, minimum: 1, maximum: 100, default: 30 }
      responses:
        "200":
          description: A page of the conversation, newest turn first.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ChatMessage" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /chat/messages:
    post:
      tags: [Chat]
      summary: Ask the assistant a question
      description: |
        **This does not return until the assistant has finished writing.**
        Measured against the live service, a reply takes roughly five to ten
        seconds. Show the caller's own message straight away, then a thinking
        indicator, then swap in the reply when it lands: the user's turn comes
        back in `data.message` with its real id, so an optimistic bubble can be
        replaced rather than kept.

        Set a generous request timeout. The server allows up to 180 seconds
        between bytes from the assistant, so a 30-second client timeout will
        occasionally cut off a reply that was still coming.

        **Do not send a history.** The web has to, because it serves anonymous
        visitors and stores nothing for them. Every caller here is signed in, so
        prior turns are read from the stored thread and a `history` in the body
        is ignored.

        The first question is what creates the conversation. Both turns are
        written in one transaction, so a thread never holds a question with no
        answer or an answer with no question.

        There is no streaming endpoint. The web types a reply out as it is
        written, but does so by broadcasting rendered HTML over Action Cable,
        which an app cannot use.
      operationId: createChatMessage
      security:
        - mobileAccessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  minLength: 1
                  maxLength: 4000
                  description: The question. Blank or over-length is a 422.
            example:
              message: Did fuel go up 40%?
      responses:
        "201":
          description: Both turns, the question as stored and the answer to it.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [message, reply]
                    properties:
                      message:
                        allOf:
                          - $ref: "#/components/schemas/ChatMessage"
                        description: The caller's own turn, as stored. Never carries sources.
                      reply:
                        allOf:
                          - $ref: "#/components/schemas/ChatMessage"
                        description: The assistant's answer, with whatever it cited.
        "400":
          description: |
            Malformed JSON in the body. A body that parses but omits `message`
            is a blank question, which is a 422 rather than a 400.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 400, message: "Malformed JSON in request body" } }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "422":
          description: |
            The question was blank (or whitespace only) or over 4000 characters.
            `details` is keyed by field, like every other write failure.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example:
                error:
                  status: 422
                  message: Validation failed
                  details:
                    message: ["Type a message."]
        "429":
          description: |
            More than twenty questions in a minute. Each one is an upstream
            model call that holds a server thread while it runs, so this limit
            is far below the 300 a minute the rest of the mobile API shares.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 429, message: "Rate limit exceeded" } }
        "503":
          $ref: "#/components/responses/AssistantUnavailable"

  /me/notifications:
    get:
      tags: [Notifications]
      summary: The signed-in user's notification feed
      description: |
        The same feed the web bell reads, so a notification opened in the app is
        read on the web too. Both roles have one: a fact-checker is told when a
        claim reaches their queue, a member when theirs is published.

        Newest first, and stable under paging. Two notifications from a single
        event share a `created_at` to the microsecond, so ties break by id
        rather than arbitrarily, which would let a row appear on two pages or on
        neither.

        Listing does **not** mark anything read.
      operationId: listNotifications
      security:
        - mobileAccessToken: []
      parameters:
        - name: filter
          in: query
          description: |
            `unread` for a badge sheet. Anything unrecognised falls back to
            `all`, and `meta.filter` reports what was actually applied.
          schema:
            type: string
            enum: [all, unread]
            default: all
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: per_page
          in: query
          description: Items per page. Capped at 100.
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        "200":
          description: A page of notifications, with the unread count alongside.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Notification" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/PageMeta"
                      - type: object
                        required: [filter, unread_count]
                        properties:
                          filter:
                            type: string
                            enum: [all, unread]
                            description: The filter actually applied, after fallback.
                          unread_count:
                            type: integer
                            description: |
                              Unread across the whole feed, not just this page,
                              so a pull to refresh updates the badge without a
                              second request.
                            example: 3
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/notifications/unread_count:
    get:
      tags: [Notifications]
      summary: The unread badge, on its own
      description: |
        An app polls this far more often than it opens the feed, and should not
        pay for a page of rows to draw a number.
      operationId: notificationUnreadCount
      security:
        - mobileAccessToken: []
      responses:
        "200":
          description: The number of unread notifications.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [unread_count]
                    properties:
                      unread_count: { type: integer, example: 3 }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/notifications/{id}/read:
    post:
      tags: [Notifications]
      summary: Mark one notification read
      description: |
        Send this when the user taps a row. The app already holds the row and
        routes on its `target`, so the only thing left to ask the server is to
        record the read: there is no `show`.

        Idempotent, and deliberately so. A second call leaves `read_at` where it
        was, because the time a notification was first opened is the only thing
        that column is good for.

        The notification comes back, so the app can redraw the row without a
        follow-up read, with the fresh badge in `meta`.
      operationId: markNotificationRead
      security:
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The notification, now read.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/Notification" }
                  meta:
                    type: object
                    required: [unread_count]
                    properties:
                      unread_count: { type: integer, example: 2 }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "404":
          $ref: "#/components/responses/NotificationNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /me/notifications/read_all:
    post:
      tags: [Notifications]
      summary: Clear the badge
      description: |
        Marks every unread notification in the caller's own feed as read, and
        touches nobody else's.
      operationId: markAllNotificationsRead
      security:
        - mobileAccessToken: []
      responses:
        "200":
          description: How many were marked, and what the badge reads now.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: object
                    required: [read_count, unread_count]
                    properties:
                      read_count:
                        type: integer
                        description: How many were unread when the call arrived.
                        example: 8
                      unread_count:
                        type: integer
                        description: |
                          Counted again rather than assumed to be zero: a
                          notification can arrive between the update and the
                          response, and the badge should read the truth.
                        example: 0
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /fact_checker/dashboard:
    get:
      tags: [Fact checker]
      summary: The fact-checker home screen
      description: |
        Four counts, what they have found so far, what is waiting, and what they
        last submitted. Every number comes from the same object the web
        dashboard reads.

        `stats.completed` counts assignments where a verdict was written;
        `stats.published` counts verdicts that actually reached the marketplace.
        The two differ while an admin has not approved yet, and that gap is the
        point of showing both.

        `verdict_breakdown` is keyed by verdict name and **omits verdicts this
        checker has never reached** rather than sending a zero.

        `active_assignments` is at most five, oldest first: the queue is a to-do
        list, and the thing waiting longest is the thing to do next.
        `recent_verdicts` is at most five, newest submission first, and each
        entry says which claim it belongs to.
      operationId: getFactCheckerDashboard
      security:
        - mobileAccessToken: []
      responses:
        "200":
          description: The dashboard.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/FactCheckerDashboard" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "429":
          $ref: "#/components/responses/RateLimited"

  /fact_checker/assignments:
    get:
      tags: [Fact checker]
      summary: The assignment queue
      description: |
        The same queue the web shows, taking the same filter names from the same
        object, so the app's tabs and the web's tabs cannot come to mean
        different things.

        **Assignments this checker has handed back are absent entirely.** A
        rejected claim has gone back to the admin desk and is no longer their
        work, which is why `rejected` is not an available `status` filter: it
        would only ever return nothing.

        `meta.stats` counts the whole queue rather than the current filter, so a
        tab does not hide its own count the moment you select it.

        `meta` echoes the resolved filters back. An unrecognised `status` or
        `sort` is **ignored rather than refused**, and the app has to be able to
        tell that happened, so compare what comes back with what you sent.
      operationId: listAssignments
      security:
        - mobileAccessToken: []
      parameters:
        - name: q
          in: query
          description: Search across the claim's title and content.
          schema: { type: string }
        - name: status
          in: query
          description: An unrecognised value is ignored and the whole queue is returned.
          schema:
            type: string
            enum: [pending, in_progress, completed]
        - name: topic
          in: query
          description: Filter by the claim's primary topic.
          schema: { type: string }
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, oldest]
            default: newest
        - name: page
          in: query
          schema: { type: integer, minimum: 1, default: 1 }
        - name: per_page
          in: query
          description: Items per page. Capped at 100.
          schema: { type: integer, minimum: 1, maximum: 100, default: 15 }
      responses:
        "200":
          description: A page of assignments.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Assignment" }
                  meta:
                    allOf:
                      - $ref: "#/components/schemas/PageMeta"
                      - type: object
                        properties:
                          stats: { $ref: "#/components/schemas/QueueStats" }
                          q: { type: string, nullable: true }
                          status: { type: string, nullable: true, description: "Null when no recognised status filter was applied." }
                          topic: { type: string, nullable: true }
                          sort: { type: string, enum: [newest, oldest] }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "429":
          $ref: "#/components/responses/RateLimited"

  /fact_checker/assignments/{id}:
    get:
      tags: [Fact checker]
      summary: One assignment, in full
      description: |
        The review screen. Adds the admin's brief, the name of the member who
        submitted the claim, the checker's own working copy of the verdict, the
        claim's evidence, and three booleans saying what may still be done.

        Note the two verdicts in the payload are different things.
        `data.claim.verdict` is the public finding, the same shape a reader
        gets. `data.verdict` is this checker's working copy: revisable, with its
        documents and its submission date.

        Another checker's assignment, and one this checker has handed back, are
        both simply **absent** and answer `404`. Deliberately not `403`: an
        assignment the caller may not read should not be confirmed to exist by
        the status code.
      operationId: getAssignment
      security:
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: The assignment.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/AssignmentDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "404":
          $ref: "#/components/responses/AssignmentNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /fact_checker/assignments/{id}/start:
    post:
      tags: [Fact checker]
      summary: Pick the work up
      description: |
        Moves the assignment from `pending` to `in_progress`. The claim itself
        does not change state: it was already `in_progress` from the moment an
        admin assigned it.

        **Single use.** Starting an assignment that is already started, or one
        with a verdict on it, is a `422`. Gate the button on `can_start` from
        the assignment payload rather than letting a stale screen post twice.

        No request body.
      operationId: startAssignment
      security:
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      responses:
        "200":
          description: Started.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/AssignmentDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "404":
          $ref: "#/components/responses/AssignmentNotFound"
        "422":
          description: The assignment is not `pending`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 422, message: "This review has already been started." } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /fact_checker/assignments/{id}/reject:
    post:
      tags: [Fact checker]
      summary: Hand the claim back to the admin desk
      description: |
        Sends the claim back to `pending_assignment` for a different checker,
        marks this assignment `rejected`, and records the reason. All three are
        one fact, applied in one transaction: a half-applied rejection would
        leave a claim nobody is working on and nobody has been told about.

        Allowed from a review already in progress as well as from an untouched
        one: a conflict of interest is often only visible once you start
        reading. Refused once a verdict has been submitted.

        **The assignment leaves this checker's scope on success.** The response
        is the last look they get at it; fetching it again answers `404`, not
        `403`. Do not navigate back to the detail screen after a rejection.

        The reason is optional but worth collecting: it is what the admin reads
        when deciding who to reassign to.
      operationId: rejectAssignment
      security:
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                rejection_reason:
                  type: string
                  description: Why this checker cannot take it. Sent at the top level, not nested.
            example: { rejection_reason: "I work for the organisation named in this claim." }
      responses:
        "200":
          description: Handed back. `data.status` is now `rejected`.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/AssignmentDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "404":
          $ref: "#/components/responses/AssignmentNotFound"
        "422":
          description: A verdict has already been written, or the claim is no longer open for review.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                alreadyCompleted:
                  value: { error: { status: 422, message: "A verdict has already been submitted, so this assignment cannot be handed back." } }
                claimClosed:
                  value: { error: { status: 422, message: "This claim is no longer open for review, so it cannot be handed back." } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /fact_checker/assignments/{assignment_id}/verdict:
    parameters:
      - name: assignment_id
        in: path
        required: true
        schema: { type: integer }
    post:
      tags: [Fact checker]
      summary: Submit the verdict
      description: |
        The verdict and its supporting documents travel together, as one
        `multipart/form-data` request:

        ```
        curl -X POST https://kasagadi.ai/api/v1/fact_checker/assignments/7/verdict \
          -H "Authorization: Bearer $ACCESS_TOKEN" \
          -F "verdict[verdict]=misleading" \
          -F "verdict[verdict_summary]=The figure is real but out of date." \
          -F "verdict[research]=Checked against the 2024 budget statement." \
          -F "verdict[documents][]=@budget-statement.pdf"
        ```

        Submitting completes the assignment and puts the claim in front of the
        owner admin for approval. `published_at` stays null: the claim is not
        live until an admin approves it.

        **One verdict per claim.** A second `POST` is refused and points at
        `PATCH`.
      operationId: createVerdict
      security:
        - mobileAccessToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: ["verdict[verdict]", "verdict[verdict_summary]", "verdict[research]"]
              properties:
                "verdict[verdict]":
                  type: string
                  enum: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
                "verdict[verdict_summary]":
                  type: string
                  description: The public-facing explanation. Required.
                "verdict[research]":
                  type: string
                  description: Methodology and sources. Required.
                "verdict[reference_link]":
                  type: string
                  description: Optional link to the primary source.
                "verdict[documents][]":
                  type: array
                  description: |
                    Optional supporting files, repeated once per file. Added to
                    whatever is already attached; taking one off is
                    `DELETE .../verdict/documents/{id}`.
                  items: { type: string, format: binary }
            encoding:
              "verdict[documents][]":
                style: form
                explode: true
      responses:
        "201":
          description: The assignment, now `completed`, with the verdict on it.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/AssignmentDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "404":
          $ref: "#/components/responses/AssignmentNotFound"
        "422":
          description: |
            A verdict already exists, the claim is closed, the verdict value is
            not one of the five, or a required field is missing.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                alreadyWritten:
                  value: { error: { status: 422, message: "This claim already has a verdict. Revise it with PATCH instead." } }
                claimClosed:
                  value: { error: { status: 422, message: "This claim is no longer open for a verdict." } }
                unknownVerdict:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details: { verdict: ["is not one of the five verdicts"] }
                missingFields:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details: { research: ["can't be blank"], verdict_summary: ["can't be blank"] }
        "429":
          $ref: "#/components/responses/RateLimited"

    patch:
      tags: [Fact checker]
      summary: Revise the verdict
      description: |
        Revisable until an admin approves it. After approval the published
        finding must not change underneath readers, and this answers `422`.
        Read `data.verdict.editable` before offering the edit screen.

        Only the keys you send are written, so correcting a summary need not
        resend the research you did not touch. Documents sent here are **added**
        to what is attached, not swapped for it.

        Nothing here re-announces the verdict to the admins: it is already in
        their queue, and only the first submission notifies.

        Same `multipart/form-data` shape as the `POST`, with every part
        optional.
      operationId: updateVerdict
      security:
        - mobileAccessToken: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                "verdict[verdict]":
                  type: string
                  enum: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
                "verdict[verdict_summary]": { type: string }
                "verdict[research]": { type: string }
                "verdict[reference_link]": { type: string }
                "verdict[documents][]":
                  type: array
                  items: { type: string, format: binary }
            encoding:
              "verdict[documents][]":
                style: form
                explode: true
      responses:
        "200":
          description: The assignment, with the revised verdict.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/AssignmentDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "404":
          description: |
            No such assignment for this checker, or no verdict has been written
            yet. Nothing to revise is a `404`, not a `422`.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                noAssignment:
                  value: { error: { status: 404, message: "Not found" } }
                noVerdict:
                  value: { error: { status: 404, message: "No verdict has been submitted for this claim yet." } }
        "422":
          description: The verdict has been approved, or the fields were rejected.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                approved:
                  value: { error: { status: 422, message: "This verdict has been approved and can no longer be edited." } }
                unknownVerdict:
                  value:
                    error:
                      status: 422
                      message: "Validation failed"
                      details: { verdict: ["is not one of the five verdicts"] }
        "429":
          $ref: "#/components/responses/RateLimited"

  /fact_checker/assignments/{assignment_id}/verdict/documents/{id}:
    delete:
      tags: [Fact checker]
      summary: Remove one supporting document
      description: |
        Scoped through this verdict's own attachments, so a document id
        belonging to somebody else's verdict is simply absent and answers `404`.

        Refused once the verdict is approved: the documents are part of what was
        published.

        The attachment row goes immediately, so the response is already true;
        the file itself is deleted from storage in the background. Answers with
        the whole assignment rather than `204`.
      operationId: deleteVerdictDocument
      security:
        - mobileAccessToken: []
      parameters:
        - name: assignment_id
          in: path
          required: true
          schema: { type: integer }
        - name: id
          in: path
          required: true
          description: The attachment id, from `data.verdict.supporting_documents[].id`.
          schema: { type: integer }
      responses:
        "200":
          description: The assignment, without that document.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/AssignmentDetail" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/FactCheckersOnly"
        "404":
          description: No such assignment, no verdict yet, or no such document on it.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                noVerdict:
                  value: { error: { status: 404, message: "No verdict has been submitted for this claim yet." } }
                noDocument:
                  value: { error: { status: 404, message: "Not found" } }
        "422":
          description: The verdict has been approved.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 422, message: "This verdict has been approved and can no longer be edited." } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new member
      description: |
        Creates the account and its member record together, then signs it in.
        There is no email verification step: the response already carries a
        usable token pair. Fact-checker accounts are not self-registered; they
        arrive by invitation.

        Rate limited to 5 per hour per email address and IP together, with a
        looser 60 per hour per IP behind it. Keyed this way because much of Ghana
        reaches the internet through a small number of carrier NAT addresses, and
        a bare per-IP cap would cut off a whole network.
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email_address, password, password_confirmation]
              properties:
                name: { type: string, example: "Ama Owusu" }
                email_address: { type: string, format: email, example: "ama@example.com" }
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 72
                  description: "At least 8 characters. bcrypt caps the input at 72 bytes."
                password_confirmation:
                  type: string
                  format: password
                  description: "Required. Omitting it is rejected rather than skipping the check."
      responses:
        "201":
          description: Account created and signed in.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/SessionWithUser" }
        "400":
          $ref: "#/components/responses/MalformedJson"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/login:
    post:
      tags: [Authentication]
      summary: Sign in
      description: |
        Members and fact-checkers only. Administrators are refused and pointed at
        the web portal.

        The credentials are checked before the account state is, so neither `403`
        below can be used to discover whether an email address has an account.

        Rate limited to 10 per 3 minutes, per email address and IP.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email_address, password]
              properties:
                email_address: { type: string, format: email, example: "ama@example.com" }
                password: { type: string, format: password }
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/SessionWithUser" }
        "401":
          description: Wrong email address or password.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 401, message: "Try another email address or password." } }
        "403":
          description: |
            The credentials were correct, but the account may not use the mobile
            app: it is suspended, it is an administrator, or it holds no role.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                suspended:
                  value: { error: { status: 403, message: "Your account has been suspended. Contact an administrator." } }
                administrator:
                  value: { error: { status: 403, message: "Administrators sign in on the web portal." } }
                noRole:
                  value: { error: { status: 403, message: "This account does not have mobile access." } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Exchange a refresh token for a new pair
      description: |
        Rotation: spending a refresh token issues a new pair and invalidates the
        old one immediately, so a stolen token is useful only until the app next
        refreshes. Replaying a spent token returns `401`.

        The response omits `user`, which the client already holds.

        Eligibility is re-checked here, not just at sign-in: an account that
        becomes an administrator, or loses its member record, stops being able to
        renew and receives `403`.

        Rate limited to 30 per minute **per refresh token**, with a 600 per minute
        per-IP backstop. Keyed by token because this is the busiest endpoint in the
        app and carrier NAT would otherwise have users locking each other out.
      operationId: refresh
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: A fresh token pair.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Session" }
        "401":
          description: The refresh token is unknown, expired, already spent, or belongs to a suspended account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 401, message: "That refresh token is invalid or has expired." } }
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    delete:
      tags: [Authentication]
      summary: Sign out this device
      description: |
        Destroys only the session behind the presented token; the account stays
        signed in on its other devices.

        Accepts **either** the access token or the refresh token, and revokes
        regardless of whether the access token has already expired. Since access
        tokens last 30 minutes, signing out after a break is the ordinary case;
        the session and its refresh token are destroyed either way.

        Always returns `204`, even for an already-revoked or malformed token.
        Signing out must never fail, or a client is left holding a token it cannot
        discard.
      operationId: logout
      security:
        - mobileAccessToken: []
      responses:
        "204":
          description: Signed out. No body.

  /auth/password_resets:
    post:
      tags: [Authentication]
      summary: Request a password reset code
      description: |
        Emails a 6-digit code, valid for 15 minutes and usable once. A code is
        sent only if the account exists and is active, but the response is
        identical either way so this cannot be used to discover which email
        addresses have accounts.

        A code is used rather than a link so no deep-link setup is needed, and so
        a mail opened on a different device still works.

        Rate limited to 5 per hour per email address, plus 30 per hour per IP so
        one host cannot walk a list of addresses and mail all of them.
      operationId: requestPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email_address]
              properties:
                email_address: { type: string, format: email }
      responses:
        "202":
          description: Accepted. The same response whether or not the account exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message: { type: string }
              example:
                data: { message: "If an account exists for that email address, a reset code is on its way." }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/password_resets/{code}:
    put:
      tags: [Authentication]
      summary: Complete a password reset
      description: |
        Spends the emailed code and sets the new password. On success every
        session for the account is destroyed, on every device, because a reset
        exists to lock an intruder out.

        No tokens are returned: the app sends the person back to the sign-in
        screen, so a stolen code cannot also hand over a session.

        The new password is validated **before** the account is even looked up, so
        a typo costs a retry rather than a whole new code. That ordering also
        matters for privacy: validating afterwards would mean a `422` could only
        come back for an address that existed, turning one request into an account
        oracle. Every rejection here is independent of whether the account exists.

        A wrong code counts an attempt; the fifth wrong attempt destroys the code.

        Rate limited to 10 per 15 minutes per email address, with a 100 per 15
        minutes per-IP backstop.
      operationId: completePasswordReset
      security: []
      parameters:
        - name: code
          in: path
          required: true
          description: |
            The 6-digit code from the email.

            Prefer sending `reset_code` in the request body instead: a path segment
            is written verbatim into the server's request log and every proxy access
            log, and cannot be redacted. When `reset_code` is present in the body it
            takes precedence and this segment is ignored, so send any placeholder.
          schema: { type: string }
          example: unused
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email_address, password, password_confirmation]
              properties:
                email_address: { type: string, format: email }
                reset_code:
                  type: string
                  pattern: "^[0-9]{6}$"
                  description: |
                    The 6-digit code. Preferred over the path segment, which ends up
                    in access logs. Takes precedence when both are given.
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 72
                password_confirmation: { type: string, format: password }
      responses:
        "200":
          description: Password reset. All sessions destroyed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message: { type: string }
              example:
                data: { message: "Your password has been reset. Please sign in." }
        "401":
          description: |
            Unknown email address, no code on file, wrong code, expired code, or
            five attempts already spent. Deliberately one message for all of them.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 401, message: "That reset code is invalid or has expired." } }
        "422":
          description: |
            The new password failed a rule: blank, too short, too long, or the
            confirmation does not match. Checked before the account is looked up,
            so this never reveals whether the address exists. `details` is keyed
            by field.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example:
                error:
                  status: 422
                  message: Validation failed
                  details:
                    password: ["is too short (minimum is 8 characters)"]
        "429":
          $ref: "#/components/responses/RateLimited"

components:
  securitySchemes:
    partnerApiKey:
      type: http
      scheme: bearer
      description: |
        A per-partner API key, issued by the Kasagadi team and revocable at any
        time. Treat it like a password: use it server-to-server and never embed
        it in a browser or a mobile app.
    mobileAccessToken:
      type: http
      scheme: bearer
      description: |
        A short-lived user access token from `POST /auth/login`. Expires after 30
        minutes; exchange the refresh token at `POST /auth/refresh` for a new
        pair. Destroyed immediately when the account is suspended.

  responses:
    Unauthorized:
      description: Missing or invalid credential (partner key or user access token).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 401, message: "Invalid credentials" } }
    InvalidAccessToken:
      description: Missing, expired or invalid user access token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 401, message: "Invalid or expired access token" } }
    NoMobileAccess:
      description: |
        The credential is valid, but the account may not use the mobile app: it is
        an administrator, or it holds no member or fact-checker role. Administrators
        are excluded even when they also hold a member or fact-checker record.

        Re-checked on every request, and on every endpoint that accepts a user
        access token, so this can appear after a role changes mid-session.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            administrator:
              value: { error: { status: 403, message: "Administrators sign in on the web portal." } }
            noRole:
              value: { error: { status: 403, message: "This account does not have mobile access." } }
    MalformedJson:
      description: The request body was not valid JSON.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 400, message: "Malformed JSON in request body" } }
    ValidationFailed:
      description: The submitted fields were rejected. `details` names each one.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            error:
              status: 422
              message: "Validation failed"
              details: { email_address: ["has already been taken"] }
    RateLimited:
      description: Too many requests. Slow down.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 429, message: "Rate limit exceeded" } }
    MembersOnly:
      description: |
        The token is valid and may use the app, but this is the member tier and
        the caller is a fact-checker. An account holding both roles counts as a
        fact-checker here, matching the `role` `/me` hands the app.

        Route on `role` from `/me` and this never appears.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 403, message: "This area is for members. Fact checkers use the fact checker portal." } }
    FactCheckersOnly:
      description: |
        The token is valid and may use the app, but this is the fact-checker
        tier and the caller is a member.

        Route on `role` from `/me` and this never appears.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 403, message: "This area is for fact checkers. Members use the member portal." } }
    AssistantUnavailable:
      description: |
        The fact-checking service behind the assistant is unreachable or failed.
        Nothing is stored: the question is not written to the thread.

        The message is the same sentence the web widget shows, and carries no
        retry instruction because the client offers that itself.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            error:
              status: 503
              message: "Sorry, the fact-checking service is temporarily unavailable."

    NotificationNotFound:
      description: |
        No notification with that id in the caller's own feed. Somebody else's
        is absent rather than forbidden: whose a notification is, is not the
        caller's business.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 404, message: "Not found" } }
    ClaimNotFound:
      description: |
        No claim with that id among the caller's own. Another member's claim and
        one an admin has unpublished are both absent rather than forbidden, so
        the status code cannot confirm that a claim exists.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 404, message: "Not found" } }
    AssignmentNotFound:
      description: |
        No assignment with that id among this checker's own. Another checker's
        assignment, and one this checker has already handed back, are both
        absent rather than forbidden.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 404, message: "Not found" } }
    ClaimAlreadySubmitted:
      description: |
        The claim is no longer a draft. A submitted claim is out of the member's
        hands, and the API refuses rather than ignoring the change, which would
        tell the app it had worked.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 422, message: "This claim has already been submitted." } }

  schemas:
    Claim:
      type: object
      properties:
        id: { type: integer, example: 259 }
        title: { type: string }
        content: { type: string, description: "The claim being investigated." }
        source: { type: string, description: "Where the claim was seen (e.g. a platform or outlet)." }
        topics:
          type: array
          items: { type: string }
          description: "One or more topics."
        regions:
          type: array
          items: { type: string }
          description: "One or more regions."
        language: { type: string, nullable: true, example: "en" }
        cover_image_url:
          type: string
          nullable: true
          description: "Absolute URL to the claim's cover image, if any."
        published_at:
          type: string
          format: date-time
          description: "When the verdict was published."
        updated_at: { type: string, format: date-time }
        url:
          type: string
          description: "Public marketplace page for the claim."
        verdict:
          allOf:
            - $ref: "#/components/schemas/Verdict"
          nullable: true
      required: [id, title, content, source, topics, regions, published_at, updated_at, url]

    Verdict:
      type: object
      properties:
        verdict:
          type: string
          enum: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
        summary:
          type: string
          description: "Public-facing explanation of the verdict."
        research:
          type: string
          description: "The fact-checker's methodology and sources."
        reference_link: { type: string, nullable: true }
        checked_at: { type: string, format: date-time, nullable: true }
        fact_checker: { $ref: "#/components/schemas/FactChecker" }

    FactChecker:
      type: object
      properties:
        name: { type: string }
        organization: { type: string, nullable: true }

    Session:
      type: object
      description: A freshly issued token pair.
      properties:
        token_type: { type: string, enum: [Bearer], example: "Bearer" }
        access_token:
          type: string
          description: "Send as `Authorization: Bearer <access_token>`."
        refresh_token:
          type: string
          description: "Spend at POST /auth/refresh. Rotated on use."
        expires_in:
          type: integer
          description: "Access token lifetime in seconds."
          example: 1800
        refresh_expires_in:
          type: integer
          description: "Refresh token lifetime in seconds."
          example: 2592000
      required: [token_type, access_token, refresh_token, expires_in, refresh_expires_in]

    SessionWithUser:
      allOf:
        - $ref: "#/components/schemas/Session"
        - type: object
          properties:
            user: { $ref: "#/components/schemas/User" }
          required: [user]

    User:
      type: object
      properties:
        id: { type: integer, example: 3 }
        name: { type: string, example: "Ama Owusu" }
        email_address: { type: string, format: email, example: "ama@example.com" }
        avatar_url: { type: string, nullable: true }
        status: { type: string, enum: [active, suspended], example: "active" }
        role:
          type: string
          enum: [member, fact_checker]
          description: "Which portal the app should open."
        profile:
          oneOf:
            - $ref: "#/components/schemas/MemberProfile"
            - $ref: "#/components/schemas/FactCheckerProfile"
        abilities:
          type: array
          items: { type: string }
          description: |
            A routing hint for the client: which tabs and actions to render.
            NOT authorization. The server enforces every rule regardless.
          example: ["marketplace.browse", "chat.use", "claims.create", "claims.submit", "claims.track"]
        created_at: { type: string, format: date-time }
      required: [id, name, email_address, status, role, profile, abilities, created_at]

    MemberProfile:
      type: object
      properties:
        organization: { type: string, nullable: true, example: "Citi FM" }
        phone: { type: string, nullable: true }
        region: { type: string, nullable: true, example: "Greater Accra" }
        bio: { type: string, nullable: true }

    FactCheckerProfile:
      type: object
      properties:
        organization: { type: string, nullable: true, example: "FactCheck Ghana" }
        specialty: { type: string, nullable: true, example: "Politics" }
        phone: { type: string, nullable: true }
        region: { type: string, nullable: true, example: "Ashanti" }
        bio: { type: string, nullable: true }
        verified: { type: boolean, example: true }

    Config:
      type: object
      properties:
        api_version: { type: string, example: "v1" }
        min_supported_app_version:
          type: string
          example: "1.0.0"
          description: "Prompt an upgrade if the running app is older than this."
        uploads:
          type: object
          properties:
            evidence:
              type: object
              properties:
                max_bytes: { type: integer, example: 10485760 }
                content_types:
                  type: array
                  items: { type: string }
                formats_label:
                  type: string
                  example: "JPG, PNG, WebP, GIF, PDF, DOC, DOCX, MP3, M4A, WAV or OGG"
            avatar:
              type: object
              properties:
                max_bytes: { type: integer, example: 5242880 }
                content_types:
                  type: array
                  items: { type: string }
                  example: ["image/png", "image/jpeg", "image/webp"]
        claim_statuses:
          type: array
          items: { type: string }
          example: [draft, pending_assignment, in_progress, published, unpublished]
        verdicts:
          type: array
          items: { type: string }
          example: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
        assignment_statuses:
          type: array
          items: { type: string }
          example: [pending, in_progress, completed, rejected]
        links:
          type: object
          properties:
            privacy_policy: { type: string, format: uri }
            terms: { type: string, format: uri }
            cookies: { type: string, format: uri }
      required: [api_version, min_supported_app_version, uploads, claim_statuses, verdicts, assignment_statuses, links]

    MarketplaceFacets:
      type: object
      description: |
        Counts of published claims, keyed by the value you would filter on. A
        value with no published claims is absent rather than zero.
      properties:
        topics:
          type: object
          additionalProperties: { type: integer }
          example: { Health: 12, Politics: 31 }
        regions:
          type: object
          additionalProperties: { type: integer }
          example: { "Greater Accra": 22, Ashanti: 9 }
        verdicts:
          type: object
          additionalProperties: { type: integer }
          description: Keyed by verdict name, counting only published claims.
          example: { verdict_false: 26, misleading: 11 }
      required: [topics, regions, verdicts]

    Taxonomies:
      type: object
      properties:
        topics:
          type: array
          items:
            type: object
            properties:
              value: { type: string, description: "Send this back on a claim or a filter." }
              label: { type: string }
              icon: { type: string, description: "Material Symbols icon name, matching the web." }
            required: [value, label, icon]
        regions:
          type: array
          description: The sixteen regions of Ghana, in the order the pickers show them.
          items:
            type: object
            properties:
              value: { type: string }
              label: { type: string }
            required: [value, label]
        verdicts:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
                enum: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
              label: { type: string, example: "Partly True" }
            required: [value, label]
      required: [topics, regions, verdicts]

    MemberClaimInput:
      type: object
      description: |
        The fields a member may write. Everything is optional on a draft; the
        strict rules run at `POST /me/claims/{id}/submit`.
      properties:
        title: { type: string }
        content: { type: string, description: "The claim being investigated." }
        source: { type: string, description: "Where the claim was seen." }
[...]
