openapi: 3.0.3
info:
  title: Kasagadi API
  version: "1.1.0"
  description: |
    The JSON API behind Kasagadi. It serves two different audiences, with two
    different credentials.

    ## Partner API

    Read-only access to Kasagadi's **published, fact-checked claims** from an
    external application. Every request carries a partner API key:

    ```
    Authorization: Bearer kg_live_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    ```

    Keys are issued by the Kasagadi team, are secret, and can be revoked at any
    time. Treat a key like a password: use it **server-to-server** and never
    embed it in a browser or a mobile app.

    ## Mobile API

    The endpoints the Kasagadi mobile app uses to register, sign in and act on
    behalf of a person. These authenticate with a **user access token** obtained
    from `POST /auth/login`, not with a partner key. The app ships no API key.

    ```
    Authorization: Bearer <access_token>
    ```

    Access tokens last 30 minutes. Exchange the refresh token at
    `POST /auth/refresh` for a fresh pair; spending a refresh token rotates it,
    so the previous pair stops working immediately. Suspending an account
    destroys its sessions, which invalidates both tokens at once.

    Only **members** and **fact-checkers** may sign in here. Administrators are
    refused and directed to the web portal.

    ## Which credential does an endpoint take?

    Each operation below states its own. In short:

    - `/claims` and `/claims/{id}` accept **either** a partner key or a user
      access token, because a published claim is the same public payload either
      way.
    - `/me` and `/auth/logout` require a **user access token**.
    - `/config` and the rest of `/auth/*` take **no credential**, since they run
      before the app has one.

    ## Conventions

    - Only **published** claims are ever returned. Drafts and in-progress claims
      are never exposed.
    - All timestamps are ISO-8601 (UTC).
    - Responses are JSON with a `data` payload; list endpoints also include `meta`.
    - Errors are `{ "error": { "status", "message" } }`, plus a `details` object
      of field errors on a `422`.
    - Requests are rate-limited; exceeding a limit returns `429`.
  contact:
    name: Kasagadi
    url: https://docs.kasagadi.ai

servers:
  - url: https://kasagadi.ai/api/v1
    description: Production

tags:
  - name: Claims
    description: Published, fact-checked claims
  - name: Authentication
    description: Register, sign in, refresh and password recovery (mobile app)
  - name: Account
    description: The signed-in user, and app configuration

paths:
  /claims:
    get:
      tags: [Claims]
      summary: List published claims
      description: |
        Returns a paginated list of published claims, newest first. Use `since`
        for incremental syncing (only claims published on/after that timestamp).
      operationId: listClaims
      security:
        - partnerApiKey: []
        - mobileAccessToken: []
      parameters:
        - name: topic
          in: query
          description: Filter by topic (e.g. `Health`, `Politics`, `Entertainment`).
          schema: { type: string }
        - name: region
          in: query
          description: Filter by region (e.g. `Greater Accra`, `Ashanti`).
          schema: { type: string }
        - name: verdict
          in: query
          description: Filter by the fact-checker's verdict.
          schema:
            type: string
            enum: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
        - name: q
          in: query
          description: Full-text search across the claim title and content.
          schema: { type: string }
        - name: since
          in: query
          description: Return only claims published on/after this ISO-8601 timestamp.
          schema: { type: string, format: date-time }
          example: "2026-01-01T00:00:00Z"
        - name: page
          in: query
          description: Page number (1-based).
          schema: { type: integer, minimum: 1, default: 1 }
        - name: per_page
          in: query
          description: Items per page. Capped at 100.
          schema: { type: integer, minimum: 1, maximum: 100, default: 25 }
      responses:
        "200":
          description: A page of claims.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Claim" }
                  meta: { $ref: "#/components/schemas/PageMeta" }
              example:
                data:
                  - id: 259
                    title: "New WHO study on malaria vaccine"
                    content: "Posts claim a 'new WHO study' finds the malaria vaccine causes infertility…"
                    source: "Twitter/X"
                    topics: ["Health"]
                    regions: ["Western"]
                    language: "en"
                    cover_image_url: "https://kasagadi.ai/rails/active_storage/blobs/redirect/…/cover.jpg"
                    published_at: "2026-04-01T10:00:00Z"
                    updated_at: "2026-04-02T09:00:00Z"
                    url: "https://kasagadi.ai/marketplace/259"
                    verdict:
                      verdict: "verdict_false"
                      summary: "There is no such WHO study; the cited PDF is fabricated."
                      research: "Checked the WHO publications database and contacted their press office…"
                      reference_link: "https://who.int/…"
                      checked_at: "2026-04-01T10:00:00Z"
                      fact_checker:
                        name: "Kwame Mensah"
                        organization: "Ghana Fact-Check Foundation"
                meta: { page: 1, per_page: 25, total_pages: 3, total_count: 61 }
        "400":
          description: Invalid parameter (e.g. a malformed `since` timestamp).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /claims/{id}:
    get:
      tags: [Claims]
      summary: Get a single published claim
      operationId: getClaim
      security:
        - partnerApiKey: []
        - mobileAccessToken: []
      parameters:
        - name: id
          in: path
          required: true
          description: The claim's numeric id.
          schema: { type: integer }
      responses:
        "200":
          description: The claim.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Claim" }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "404":
          description: No published claim with that id.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "429":
          $ref: "#/components/responses/RateLimited"

  /config:
    get:
      tags: [Account]
      summary: App configuration
      description: |
        The limits and vocabularies the app caches on launch, read before anyone
        signs in. Every value is read from the model that enforces it, so an
        upload limit cannot be raised on the server and stay stale in the app.
      operationId: getConfig
      security: []
      responses:
        "200":
          description: The configuration.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Config" }

  /me:
    get:
      tags: [Account]
      summary: The signed-in user
      description: |
        Role routing. Tells the app which portal to open and what to render in
        it. `role` is `member` or `fact_checker`, and `profile` carries the
        fields for that role.

        `abilities` is a routing hint, not authorization: the server enforces
        every rule regardless of what the client believes it may do.
      operationId: getMe
      security:
        - mobileAccessToken: []
      responses:
        "200":
          description: The signed-in user.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/User" }
        "401":
          $ref: "#/components/responses/InvalidAccessToken"
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/register:
    post:
      tags: [Authentication]
      summary: Register a new member
      description: |
        Creates the account and its member record together, then signs it in.
        There is no email verification step: the response already carries a
        usable token pair. Fact-checker accounts are not self-registered; they
        arrive by invitation.

        Rate limited to 5 per hour per email address and IP together, with a
        looser 60 per hour per IP behind it. Keyed this way because much of Ghana
        reaches the internet through a small number of carrier NAT addresses, and
        a bare per-IP cap would cut off a whole network.
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email_address, password, password_confirmation]
              properties:
                name: { type: string, example: "Ama Owusu" }
                email_address: { type: string, format: email, example: "ama@example.com" }
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 72
                  description: "At least 8 characters. bcrypt caps the input at 72 bytes."
                password_confirmation:
                  type: string
                  format: password
                  description: "Required. Omitting it is rejected rather than skipping the check."
      responses:
        "201":
          description: Account created and signed in.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/SessionWithUser" }
        "400":
          $ref: "#/components/responses/MalformedJson"
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/login:
    post:
      tags: [Authentication]
      summary: Sign in
      description: |
        Members and fact-checkers only. Administrators are refused and pointed at
        the web portal.

        The credentials are checked before the account state is, so neither `403`
        below can be used to discover whether an email address has an account.

        Rate limited to 10 per 3 minutes, per email address and IP.
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email_address, password]
              properties:
                email_address: { type: string, format: email, example: "ama@example.com" }
                password: { type: string, format: password }
      responses:
        "200":
          description: Signed in.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/SessionWithUser" }
        "401":
          description: Wrong email address or password.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 401, message: "Try another email address or password." } }
        "403":
          description: |
            The credentials were correct, but the account may not use the mobile
            app: it is suspended, it is an administrator, or it holds no role.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              examples:
                suspended:
                  value: { error: { status: 403, message: "Your account has been suspended. Contact an administrator." } }
                administrator:
                  value: { error: { status: 403, message: "Administrators sign in on the web portal." } }
                noRole:
                  value: { error: { status: 403, message: "This account does not have mobile access." } }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Exchange a refresh token for a new pair
      description: |
        Rotation: spending a refresh token issues a new pair and invalidates the
        old one immediately, so a stolen token is useful only until the app next
        refreshes. Replaying a spent token returns `401`.

        The response omits `user`, which the client already holds.

        Eligibility is re-checked here, not just at sign-in: an account that
        becomes an administrator, or loses its member record, stops being able to
        renew and receives `403`.

        Rate limited to 30 per minute **per refresh token**, with a 600 per minute
        per-IP backstop. Keyed by token because this is the busiest endpoint in the
        app and carrier NAT would otherwise have users locking each other out.
      operationId: refresh
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        "200":
          description: A fresh token pair.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: "#/components/schemas/Session" }
        "401":
          description: The refresh token is unknown, expired, already spent, or belongs to a suspended account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 401, message: "That refresh token is invalid or has expired." } }
        "403":
          $ref: "#/components/responses/NoMobileAccess"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    delete:
      tags: [Authentication]
      summary: Sign out this device
      description: |
        Destroys only the session behind the presented token; the account stays
        signed in on its other devices.

        Accepts **either** the access token or the refresh token, and revokes
        regardless of whether the access token has already expired. Since access
        tokens last 30 minutes, signing out after a break is the ordinary case;
        the session and its refresh token are destroyed either way.

        Always returns `204`, even for an already-revoked or malformed token.
        Signing out must never fail, or a client is left holding a token it cannot
        discard.
      operationId: logout
      security:
        - mobileAccessToken: []
      responses:
        "204":
          description: Signed out. No body.

  /auth/password_resets:
    post:
      tags: [Authentication]
      summary: Request a password reset code
      description: |
        Emails a 6-digit code, valid for 15 minutes and usable once. A code is
        sent only if the account exists and is active, but the response is
        identical either way so this cannot be used to discover which email
        addresses have accounts.

        A code is used rather than a link so no deep-link setup is needed, and so
        a mail opened on a different device still works.

        Rate limited to 5 per hour per email address, plus 30 per hour per IP so
        one host cannot walk a list of addresses and mail all of them.
      operationId: requestPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email_address]
              properties:
                email_address: { type: string, format: email }
      responses:
        "202":
          description: Accepted. The same response whether or not the account exists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message: { type: string }
              example:
                data: { message: "If an account exists for that email address, a reset code is on its way." }
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/password_resets/{code}:
    put:
      tags: [Authentication]
      summary: Complete a password reset
      description: |
        Spends the emailed code and sets the new password. On success every
        session for the account is destroyed, on every device, because a reset
        exists to lock an intruder out.

        No tokens are returned: the app sends the person back to the sign-in
        screen, so a stolen code cannot also hand over a session.

        The new password is validated **before** the account is even looked up, so
        a typo costs a retry rather than a whole new code. That ordering also
        matters for privacy: validating afterwards would mean a `422` could only
        come back for an address that existed, turning one request into an account
        oracle. Every rejection here is independent of whether the account exists.

        A wrong code counts an attempt; the fifth wrong attempt destroys the code.

        Rate limited to 10 per 15 minutes per email address, with a 100 per 15
        minutes per-IP backstop.
      operationId: completePasswordReset
      security: []
      parameters:
        - name: code
          in: path
          required: true
          description: |
            The 6-digit code from the email.

            Prefer sending `reset_code` in the request body instead: a path segment
            is written verbatim into the server's request log and every proxy access
            log, and cannot be redacted. When `reset_code` is present in the body it
            takes precedence and this segment is ignored, so send any placeholder.
          schema: { type: string, pattern: "^[0-9]{6}$" }
          example: "482913"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email_address, password, password_confirmation]
              properties:
                email_address: { type: string, format: email }
                reset_code:
                  type: string
                  pattern: "^[0-9]{6}$"
                  description: |
                    The 6-digit code. Preferred over the path segment, which ends up
                    in access logs. Takes precedence when both are given.
                password:
                  type: string
                  format: password
                  minLength: 8
                  maxLength: 72
                password_confirmation: { type: string, format: password }
      responses:
        "200":
          description: Password reset. All sessions destroyed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message: { type: string }
              example:
                data: { message: "Your password has been reset. Please sign in." }
        "401":
          description: |
            Unknown email address, no code on file, wrong code, expired code, or
            five attempts already spent. Deliberately one message for all of them.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
              example: { error: { status: 401, message: "That reset code is invalid or has expired." } }
        "422":
          $ref: "#/components/responses/ValidationFailed"
        "429":
          $ref: "#/components/responses/RateLimited"

components:
  securitySchemes:
    partnerApiKey:
      type: http
      scheme: bearer
      description: |
        A per-partner API key, issued by the Kasagadi team and revocable at any
        time. Treat it like a password: use it server-to-server and never embed
        it in a browser or a mobile app.
    mobileAccessToken:
      type: http
      scheme: bearer
      description: |
        A short-lived user access token from `POST /auth/login`. Expires after 30
        minutes; exchange the refresh token at `POST /auth/refresh` for a new
        pair. Destroyed immediately when the account is suspended.

  responses:
    Unauthorized:
      description: Missing or invalid credential (partner key or user access token).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 401, message: "Invalid credentials" } }
    InvalidAccessToken:
      description: Missing, expired or invalid user access token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 401, message: "Invalid or expired access token" } }
    NoMobileAccess:
      description: |
        The credential is valid, but the account may not use the mobile app: it is
        an administrator, or it holds no member or fact-checker role. Administrators
        are excluded even when they also hold a member or fact-checker record.

        Re-checked on every request, and on every endpoint that accepts a user
        access token, so this can appear after a role changes mid-session.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          examples:
            administrator:
              value: { error: { status: 403, message: "Administrators sign in on the web portal." } }
            noRole:
              value: { error: { status: 403, message: "This account does not have mobile access." } }
    MalformedJson:
      description: The request body was not valid JSON.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 400, message: "Malformed JSON in request body" } }
    ValidationFailed:
      description: The submitted fields were rejected. `details` names each one.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example:
            error:
              status: 422
              message: "Validation failed"
              details: { email_address: ["has already been taken"] }
    RateLimited:
      description: Too many requests — slow down.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
          example: { error: { status: 429, message: "Rate limit exceeded" } }

  schemas:
    Claim:
      type: object
      properties:
        id: { type: integer, example: 259 }
        title: { type: string }
        content: { type: string, description: "The claim being investigated." }
        source: { type: string, description: "Where the claim was seen (e.g. a platform or outlet)." }
        topics:
          type: array
          items: { type: string }
          description: "One or more topics."
        regions:
          type: array
          items: { type: string }
          description: "One or more regions."
        language: { type: string, nullable: true, example: "en" }
        cover_image_url:
          type: string
          nullable: true
          description: "Absolute URL to the claim's cover image, if any."
        published_at:
          type: string
          format: date-time
          description: "When the verdict was published."
        updated_at: { type: string, format: date-time }
        url:
          type: string
          description: "Public marketplace page for the claim."
        verdict:
          allOf:
            - $ref: "#/components/schemas/Verdict"
          nullable: true
      required: [id, title, content, source, topics, regions, published_at, updated_at, url]

    Verdict:
      type: object
      properties:
        verdict:
          type: string
          enum: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
        summary:
          type: string
          description: "Public-facing explanation of the verdict."
        research:
          type: string
          description: "The fact-checker's methodology and sources."
        reference_link: { type: string, nullable: true }
        checked_at: { type: string, format: date-time, nullable: true }
        fact_checker: { $ref: "#/components/schemas/FactChecker" }

    FactChecker:
      type: object
      properties:
        name: { type: string }
        organization: { type: string, nullable: true }

    Session:
      type: object
      description: A freshly issued token pair.
      properties:
        token_type: { type: string, enum: [Bearer], example: "Bearer" }
        access_token:
          type: string
          description: "Send as `Authorization: Bearer <access_token>`."
        refresh_token:
          type: string
          description: "Spend at POST /auth/refresh. Rotated on use."
        expires_in:
          type: integer
          description: "Access token lifetime in seconds."
          example: 1800
        refresh_expires_in:
          type: integer
          description: "Refresh token lifetime in seconds."
          example: 2592000
      required: [token_type, access_token, refresh_token, expires_in, refresh_expires_in]

    SessionWithUser:
      allOf:
        - $ref: "#/components/schemas/Session"
        - type: object
          properties:
            user: { $ref: "#/components/schemas/User" }
          required: [user]

    User:
      type: object
      properties:
        id: { type: integer, example: 3 }
        name: { type: string, example: "Ama Owusu" }
        email_address: { type: string, format: email, example: "ama@example.com" }
        avatar_url: { type: string, nullable: true }
        status: { type: string, enum: [active, suspended], example: "active" }
        role:
          type: string
          enum: [member, fact_checker]
          description: "Which portal the app should open."
        profile:
          oneOf:
            - $ref: "#/components/schemas/MemberProfile"
            - $ref: "#/components/schemas/FactCheckerProfile"
        abilities:
          type: array
          items: { type: string }
          description: |
            A routing hint for the client: which tabs and actions to render.
            NOT authorization. The server enforces every rule regardless.
          example: ["marketplace.browse", "chat.use", "claims.create", "claims.submit", "claims.track"]
        created_at: { type: string, format: date-time }
      required: [id, name, email_address, status, role, profile, abilities, created_at]

    MemberProfile:
      type: object
      properties:
        organization: { type: string, nullable: true, example: "Citi FM" }
        phone: { type: string, nullable: true }
        region: { type: string, nullable: true, example: "Greater Accra" }
        bio: { type: string, nullable: true }

    FactCheckerProfile:
      type: object
      properties:
        organization: { type: string, nullable: true, example: "FactCheck Ghana" }
        specialty: { type: string, nullable: true, example: "Politics" }
        phone: { type: string, nullable: true }
        region: { type: string, nullable: true, example: "Ashanti" }
        bio: { type: string, nullable: true }
        verified: { type: boolean, example: true }

    Config:
      type: object
      properties:
        api_version: { type: string, example: "v1" }
        min_supported_app_version:
          type: string
          example: "1.0.0"
          description: "Prompt an upgrade if the running app is older than this."
        uploads:
          type: object
          properties:
            evidence:
              type: object
              properties:
                max_bytes: { type: integer, example: 10485760 }
                content_types:
                  type: array
                  items: { type: string }
                formats_label:
                  type: string
                  example: "JPG, PNG, WebP, GIF, PDF, DOC, DOCX, MP3, M4A, WAV or OGG"
            avatar:
              type: object
              properties:
                max_bytes: { type: integer, example: 5242880 }
                content_types:
                  type: array
                  items: { type: string }
                  example: ["image/png", "image/jpeg", "image/webp"]
        claim_statuses:
          type: array
          items: { type: string }
          example: [draft, pending_assignment, in_progress, published, unpublished]
        verdicts:
          type: array
          items: { type: string }
          example: [verdict_true, verdict_false, misleading, partly_true, unverifiable]
        assignment_statuses:
          type: array
          items: { type: string }
          example: [pending, in_progress, completed, rejected]
        links:
          type: object
          properties:
            privacy_policy: { type: string, format: uri }
            terms: { type: string, format: uri }
            cookies: { type: string, format: uri }
      required: [api_version, min_supported_app_version, uploads, claim_statuses, verdicts, assignment_statuses, links]

    PageMeta:
      type: object
      properties:
        page: { type: integer, example: 1 }
        per_page: { type: integer, example: 25 }
        total_pages: { type: integer, example: 3 }
        total_count: { type: integer, example: 61 }
      required: [page, per_page, total_pages, total_count]

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            status: { type: integer, example: 401 }
            message: { type: string, example: "Invalid credentials" }
        details:
          type: object
          nullable: true
          additionalProperties:
            type: array
            items: { type: string }
          description: "Field errors, present on a 422."
          example: { email_address: ["has already been taken"] }
